# Ignore node_modules
node_modules

# Logs
*.log
logs

# Environment files
.env
.env.*

# OS / IDE / Editor stuff
.DS_Store
*.swp
*.swo
.vscode
.idea

# Git
.git
.gitignore

# Docker
docker-compose.yml
